<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category != null ? book.category.name : 'N/A'}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/books/edit/{id}(id=${book.id})}" class="text-info">Edit</a> |
                <a th:href="@{/books/delete/{id}(id=${book.id})}" onclick="deleteBook(this); return false;" class="text-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>
